.channel-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.channel-box:hover {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

.channel-box-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
